name: Create Docker Image
on: 
  push:
    branches: 
     - main
jobs:
  build:
    runs-on: ubuntu-latest
    name: Build project
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Build
        run: | 
          docker build . -t go-fuzzy-$(date +%s)
